@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-white: #000000;
  --color-gray-50: #f7fafc;
  --color-bg-white: #ffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --color-text-white: #ffff;
  --color-bg-white: #000000;
  --color-gray-50: #1a202c;
  /* 暗色模式 */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}